@font-face {
    font-family: "Merienda";
    src: url("../../Fonts/Merienda.woff2") format("woff2"), url("../../Fonts/Merienda.woff") format("woff2"),
        url("../../Fonts/Merienda.ttf") format("truetype");
}
@font-face {
    font-family: "Merienda-bold";
    src: url("../../Fonts/Meriendabold.woff2") format("woff2"), url("../../Fonts/Merienda-Bold.ttf") format("truetype");
}
.product {
    height: 495px;
    background: url("../img/products-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        margin-top: 80px;
        font-family: "Merienda";
        font-size: 24px;
        text-align: center;
        color: #000000;
    }
    .wrapper {
        margin-top: 39px;
        display: flex;
        width: 933px;
        justify-content: space-around;
        align-items: center;
        
    }
}
