@font-face {
    font-family: "Merienda";
    src: url("../../Fonts/Merienda.woff2") format("woff2"), url("../../Fonts/Merienda.woff") format("woff2"),
        url("../../Fonts/Merienda.ttf") format("truetype");
}
@font-face {
    font-family: "Merienda-bold";
    src: url("../../Fonts/Meriendabold.woff2") format("woff2"), url("../../Fonts/Merienda-Bold.ttf") format("truetype");
}
.about {
    height: 520px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-family: "Merienda";
        font-size: 24px;
        color: #000000;
    }
    .subtitle {
        margin-top: 20px;
        width: 200px;
        img {
            width: 100%;
        }
    }
    .text {
        width: 589px;
        margin-top: 40px;
        font-family: 'Merienda';
        font-size: 14px;
        text-align: center;
        color: #000000;
    }
}
