@font-face {
    font-family: "Merienda";
    src: url("../Fonts/Merienda.woff2") format("woff2"), url("../Fonts/Merienda.woff") format("woff2"),
        url("../Fonts/Merienda.ttf") format("truetype");
}
@font-face {
    font-family: "Merienda-bold";
    src: url("../Fonts/Merienda.woff2") format("woff2"), url("../Fonts/Merienda-Bold.ttf") format("truetype");
}
.container {
    .wrap {
        height: 277px;
        width: 900px;
        display: flex;
        margin: 60px auto;
        .image {
            width: 355px;
            margin-right: 55px;
            img {
                width: 100%;
            }
        }
        .beats {
            width: 346px;

            .title {
                margin-top: 20px;
                font-family: "Merienda";
                font-size: 24px;
                color: #000000;
            }
            .title-img {
                margin: 20px auto;
                width: 200px;
                img {
                    width: 100%;
                }
            }
            .subtitle {
                width: 424px;
                font-family: "Merienda";
                font-size: 14px;
                text-align: start;
                color: #000000;
                span {
                    font-weight: bold;
                }
            }
            .subprice {
                text-align: start;
                font-family: 'Merienda';
                font-weight: bold;
                font-size: 14px;
                color: #000000;
                span{
                    font-size: 24px;
                }
            }
        }
    }
}
